.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 80px;
}

.photo-card {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 200px;
  max-height: 400px;
}

.photo-card img {
  cursor: pointer;
}

.info {
  display: flex;
  gap: 12px;
}

.info-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 6px;
}
